# Exercise Solution

In [3]:
import pandas as pd
from sklearn.datasets import load_wine
wine = load_wine()

In [4]:
dir(wine)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [5]:
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [6]:
df['target']=wine.target
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [7]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('target',axis='columns'),df.target,test_size=0.2)

In [18]:
X_train.shape

(142, 13)

In [19]:
X_test[:3]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
146,13.88,5.04,2.23,20.0,80.0,0.98,0.34,0.40,0.68,4.90,0.58,1.33,415.0
140,12.93,2.81,2.70,21.0,96.0,1.54,0.50,0.53,0.75,4.60,0.77,2.31,600.0
162,12.85,3.27,2.58,22.0,106.0,1.65,0.60,0.60,0.96,5.58,0.87,2.11,570.0

In [20]:
y_test[:5]

146    2
140    2
162    2
154    2
173    2
Name: target, dtype: int32

### Using Gaussian Naive Bayes

In [21]:
from sklearn.naive_bayes import GaussianNB
Gmodel = GaussianNB()

In [22]:
Gmodel.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [23]:
Gmodel.score(X_test,y_test)   # Accuracy

1.0

In [24]:
Gmodel.predict(X_test[0:10])

array([2, 2, 2, 2, 2, 0, 2, 1, 2, 0])

### Using Multinomial Naive Bayes

In [25]:
from sklearn.naive_bayes import MultinomialNB
Mmodel = MultinomialNB()
Mmodel.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [26]:
Mmodel.score(X_test,y_test)   # Accuracy

0.8333333333333334

In [27]:
Gmodel.predict(X_test[0:10])

array([2, 2, 2, 2, 2, 0, 2, 1, 2, 0])

**Gaussian Naive Bayes gave optimal result so far for this dataset**